#word {
    position: relative;


}
body {
    background-color: #fffa00;
}
#wrd{
    width: 25%;
    margin: 10px;
}
#search{
    width: 25%;
    margin: auto;
}
#definition{
    color: black;
    margin: 10px;
    text-emphasis-color: black;

}
table {
    border-color: darkblue;
}